<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Test suite" parallel="classes">
    <test name="test 1">
<!--        <groups>
            <run>
                <include name="Писал Юра" />
            </run>
        </groups>-->
        <classes>
            <class name="tests.CartTests"/>
            <parameter name="password" value="password"></parameter>
            <parameter name="email" value="test@mailinator.com"></parameter>
        </classes>
    </test> <!-- Test -->
</suite>
